{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row" style="margin:30px;">
                <div class="mx-auto">
                    <h4>Search for Hotel here</h4>
                    <form class="form-inline" action="#">
                        <span class="btn-label btn-label-right"><i class="fa fa-search fa-3x"></i></span>
                        <input type="text" placeholder="Type hotel name" class="form-control" id="pwd">
                        <button type="submit" class="btn btn-primary mx-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
    <section class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-success" href="{% url 'hotel' %}">
                        <span class="number counter">65</span>
                        <span class="name">Accomodation spots</span>
                        <span class="bg-icon"><i class="fa fa-hotel"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="color: blue !important;">
                    <a class="dashboard-stat bg-info " href="#">
                        <span class="number counter">25</span>
                        <span class="name">Game Parks</span>
                        <span class="bg-icon"><i class="fa fa-cat"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-danger" href="#">
                        <span class="number counter">20</span>
                        <span class="name">Sites To Visit</span>
                        <span class="bg-icon"><i class="fa fa-sign"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-warning" href="#">
                        <span class="number counter">50</span>
                        <span class="name">Tour Guides</span>
                        <span class="bg-icon"><i class="fa fa-users"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:10px;">
            <div class="col-md-auto mx-auto">
                <h3 style="text-decoration: underline;">NEWS UPDATES</h3>
            </div>
            <div class="row">
                {% for new in news %}
                    <div class="col-md-3 mx-auto">
                        <div class="card" style="width:400px; margin-right:250px;">
                            <img class="card-img-top" src="{{ new.news_image.url }}" alt="Card image" height="200px">
                            <div class="card-body">
                                <h4 class="card-title" style="color:mediumseagreen">{{ new.headline}}</h4>
                                <p class="card-text">{{ new.text }}</p>
                                <a href="#" class="btn btn-primary" id="read More">Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}